fieldset{
    position: absolute;
    border: none;
    bottom: 5px;
}
input{
    width: 1.1em;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.arrow-button{
    border: none;
    background-color: inherit;
    color: red;
    width: 20px;
}

img{
  max-width: 350px;
  max-height: 150px;
  width: auto;
  height: auto;
  margin: auto;
}